<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.raylyan.cleanarch.presentation">

    <application>

        <activity android:name="ua.raylyan.cleanarch.presentation.scene.posts.PostsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".scene.post.PostActivity" />

    </application>

</manifest>
